body {
  font-family: "roboto", sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ----------Header---------- */
.word-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.word-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.site-nav-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.site-mail,
.site-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/*----------Main----------*/
/* ----------Filter Menu---------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ----------Projects---------- */
.project {
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
