:root {
  /* Colors */
  --main-text-color: #212121;
  --main-link-color: #212121;
  --btn-color: #212121;
  --btn-background-color: #f5f4fa;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --btn-hover-color: #ffffff;
  --btn-hover-background-color: #2196f3;
  --main-background-color: #f5f5f5;
  --link-hover-color: #2196f3;
  --logo-color-1: #2196f3;
  --logo-color-2: #000000;
  --footer-background-color: #2f303a;
  --header-background-color: #ffffff;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--link-hover-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ----------SITE HEADER---------- */
.site-header {
  background-color: var(--header-background-color);
}
.logo-word-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color-1);
}
.logo-word-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-2);
}
.site-nav-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}
.site-nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/*----------STUDIIO PAGE MAIN----------*/

/*----------PORTFOLIO PAGE MAIN----------*/
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-color);
  background: var(--btn-bacground-color);
}
.filter-btn:hover,
.filter-btn:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-hover-color);
  background: var(--btn-hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* ----------PORTFOIO PROJECTS---------- */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* ----------FOOTER---------- */
.footeer {
  background-color: var(--footer-background-color);
}
.adress {
  font-style: normal;
}
.map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
